
# Modeling

In [1]:
import pandas as pd
import numpy as np
import zipfile

In [2]:
df = pd.read_csv('data/masterdf.csv')
df.head()

,Out Time,Out Airline,Out Cities,Out Duration,Out Stops,Out Stop Cities,Return Time,Return Airline,Return Cities,Return Duration,Return Stops,Return Stop Cities,Price,timestamp,sort,departure_date
0,8:00 am – 11:40 pm +1,Korean Air,EWR‐SIN,27h40m,2,"ATL, ICN",1:10 am – 3:35 pm,Korean Air,SIN‐EWR,26h25m,2,"ICN, BOS",951,20220403-1414,cheap,2022-04-10
1,9:00 am – 11:40 pm +1,Korean Air,EWR‐SIN,26h40m,2,"BOS, ICN",1:10 am – 3:35 pm,Korean Air,SIN‐EWR,26h25m,2,"ICN, BOS",979,20220403-1414,cheap,2022-04-10
2,11:25 am – 12:35 am +2,ANA,EWR‐SIN,25h10m,1,NRT,6:10 am – 4:40 pm,ANA,SIN‐EWR,22h30m,1,NRT,994,20220403-1414,cheap,2022-04-10
3,6:30 am – 12:35 am +2,ANA,EWR‐SIN,30h05m,2,"LAX, NRT",6:10 am – 4:40 pm,ANA,SIN‐EWR,22h30m,1,NRT,994,20220403-1414,cheap,2022-04-10
4,11:25 am – 12:35 am +2,ANA,EWR‐SIN,25h10m,1,NRT,10:10 pm – 9:27 pm +1,ANA,SIN‐EWR,35h17m,2,"HND, ORD",998,20220403-1414,cheap,2022-04-10

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7113 entries, 0 to 7112
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Out Time            7113 non-null   object
 1   Out Airline         7113 non-null   object
 2   Out Cities          7113 non-null   object
 3   Out Duration        7113 non-null   object
 4   Out Stops           7113 non-null   int64
 5   Out Stop Cities     5649 non-null   object
 6   Return Time         7113 non-null   object
 7   Return Airline      7113 non-null   object
 8   Return Cities       7113 non-null   object
 9   Return Duration     7113 non-null   object
 10  Return Stops        7113 non-null   int64
 11  Return Stop Cities  5451 non-null   object
 12  Price               7113 non-null   int64
 13  timestamp           7113 non-null   object
 14  sort                7113 non-null   object
 15  departure_date      7113 non-null   object
dtypes: int64(3), object(13)
memory usage: 889.2+ KB

In [6]:
df.duplicated().value_counts()

False    7113
dtype: int64